<nav>
  <a aria-label="Navigate to Home" href="/">
    <img src="/img/logo_small.png" width="40" height="40" />
  </a>
  <div>
    <a href="#">Home</a>
    <a href="#">Band</a>
    <a href="#">Gigs</a>
    <a href="#">Contact</a>
  </div>
</nav>

<style>
  nav {
    padding: 20px;
  }
</style>